.Filters{}
.Filters .dropdown-menu {
    width: 100%;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.21);
    min-width: 200px;
}
.Filters form{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 13px;
}

.activeFilters{
  margin-top: 15px;
  font-weight: bold;
}
.activeFilters span{
  display: inline-block;
  margin-right: 5px;
  background-color: silver;
  text-transform: uppercase;
  font-size: 12px;
  padding: 3px 5px;
  background-color: buttonface;
  border-radius: 3px;
}